/* Zeroing */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
body {
  font-family: "Inter";
}

.wrapper {
  overflow: hidden;
  background: #171836;
}

.screen {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  font-size: 26.1239px;
  line-height: 150%;
  margin: 1.5% 12% 0 0;
  font-family: Itim;
}

.header__left a {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  color: #7477bb;
}

.header__left a:hover {
  text-shadow: 1px 2px 15px #2c3083;
}

.header__menu {
  margin-top: 1.9%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header__links {
  margin-right: 44px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.header__links:first-child {
  color: #fff;
}

.header__links:hover {
  color: #fff;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.3%;
  margin-left: 30%;
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 13%;
  position: relative;
}

.header__language::after {
  content: "";
  position: absolute;
  right: -25%;
  top: 42%;
  border: 4px solid transparent;
  border-top: 7px solid #d1d1d7;
  cursor: pointer;
}

.header__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #d1d1d7;
  margin-right: 10%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.header__text:hover {
  color: #fff;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 102px;
  height: 41px;
  background: #f5443b;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #d1d1d7;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__login:hover {
  color: #fff;
}

@media (max-width: 1241px) {
  .header__left {
    margin: 1.5% 15% 0 10%;
  }
  .header__links {
    margin-right: 11px;
  }
  .header__right {
    margin: 2.3% 10% 0 15%;
  }
}

@media (max-width: 769px) {
  .header__links {
    display: none;
  }
  .header__right {
    display: none;
  }
  .header__burger {
    margin: 2% 0 0 85%;
    display: block;
    position: absolute;
    width: 40px;
    height: 30px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 3px;
    top: 15px;
  }
  .header__burger::before {
    top: 3px;
  }
  .header__burger::after {
    bottom: 0;
  }
}

@media (max-width: 426px) {
  .header__burger {
    margin: 2% 0 0 79%;
  }
}

.home {
  margin-top: 15px;
}

.home__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -12%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home__column {
  padding: 0 4%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.home__image {
  width: 95.722%;
  height: 100%;
  margin-left: 12%;
  -webkit-transform: rotate(-7.26deg);
          transform: rotate(-7.26deg);
}

.home__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.home__emoji {
  position: absolute;
  left: 80%;
  top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 15%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-32.08%, rgba(76, 94, 157, 0.9)), color-stop(127.36%, rgba(23, 24, 54, 0.9)));
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.9) -32.08%, rgba(23, 24, 54, 0.9) 127.36%);
  border-radius: 20px;
  -webkit-transform: rotate(12.79deg);
          transform: rotate(12.79deg);
}

.home__emoji::before {
  content: "";
  left: -50px;
  top: 40px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #53e7cd;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}

.home__emoji::after {
  content: "";
  position: absolute;
  right: -35px;
  top: 80px;
  width: 4px;
  height: 4px;
  background: #e75353;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}

.home__emoji_r {
  -webkit-transform: rotate(-8.82deg);
          transform: rotate(-8.82deg);
  left: 2%;
  top: 40%;
}

.home__emoji_r::before {
  content: "";
  left: 30px;
  top: -70px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #e75353;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}

.home__emoji_r::after {
  content: "";
  position: absolute;
  right: -35px;
  width: 6px;
  height: 6px;
  background: #e7ac53;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}

.home__emoji svg {
  width: 70%;
  height: 70%;
}

.home__students {
  position: relative;
  top: -80px;
  left: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 92px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-32.08%, rgba(76, 94, 157, 0.8)), color-stop(127.36%, rgba(23, 24, 54, 0.8)));
  background: linear-gradient(180deg, rgba(76, 94, 157, 0.8) -32.08%, rgba(23, 24, 54, 0.8) 127.36%);
  border-radius: 20px;
}

.home__students::before {
  content: "";
  left: -5%;
  top: 150%;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #e7ac53;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}

.home__students::after {
  content: "";
  position: absolute;
  right: 0%;
  top: 130%;
  width: 4px;
  height: 4px;
  background: #e75353;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
}

.home__photos {
  position: relative;
  padding-left: 15px;
  margin-right: -15px;
  width: 20%;
  height: 55%;
}

.home__photos img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #6668aa;
}

.home__amount {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #bbbbc4;
  padding-left: 50px;
}

.home__amount a {
  color: #fb5048;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.home__amount a:hover {
  color: #00ffea;
}

.home__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: -0.01em;
  margin: 0 25% 24px 0;
}

.home__subtitle {
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
  margin: 0 15% 45px 0;
}

.home__search {
  position: relative;
  width: 81%;
  height: 68px;
  background: #1f2143;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.home__search input {
  background: transparent;
}

.home__text {
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
  padding: 22px 195px 22px 32px;
}

.home__magnifier {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 85%;
  width: 44px;
  height: 44px;
  background: #282b57;
  border-radius: 6px;
}

.home__suggestions {
  line-height: 150%;
}

.home__suggestions p {
  margin-bottom: 14px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}

.home__route {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 14%;
  font-size: 14px;
}

.home__route li {
  margin: 24px 24px 0 0;
  text-align: center;
  padding: 8px 18px;
  border: 1px solid rgba(154, 156, 203, 0.6);
  border-radius: 8px;
  color: rgba(154, 156, 203, 0.6);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.home__route li:hover {
  border: 2px solid #00ffea;
  color: white;
}

@media (max-width: 1025px) {
  .home {
    margin-top: 5%;
  }
  .home__row {
    margin: 0 auto;
  }
  .home__column {
    padding: 0 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .home__image {
    margin-left: 0%;
  }
  .home__title {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-size: 46px;
  }
  .home__subtitle {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  .home__search {
    width: 100%;
  }
  .home__students {
    top: -95px;
    left: 18%;
    width: 65%;
    height: 140px;
  }
  .home__text {
    font-size: 16px;
  }
  .home__route {
    width: 100%;
  }
}

@media (max-width: 691px) {
  .home__title {
    font-size: 36px;
  }
  .home__subtitle {
    font-size: 15px;
  }
  .home__text {
    font-size: 14px;
  }
  .home__students {
    top: -95px;
    left: 10%;
    width: 80%;
    height: 95px;
  }
  .home__route {
    font-size: 14px;
  }
  .home__route li {
    padding: 8px 5px;
  }
}

@media (max-width: 451px) {
  .home__row {
    margin: 0 -15%;
  }
  .home__column {
    max-width: 320px;
    padding: 0 5%;
    margin: 0 auto;
  }
  .home__students {
    top: -75px;
    height: 70px;
  }
  .home__title {
    font-size: 28px;
  }
  .home__subtitle {
    font-size: 14px;
  }
  .home__text {
    font-size: 12px;
  }
  .home__magnifier {
    left: 80%;
  }
  .home__route {
    font-size: 12px;
  }
  .home__route li {
    padding: 8px 8px;
  }
  .home__emoji::before {
    display: none;
  }
  .home__emoji::after {
    display: none;
  }
}

.vista {
  margin-top: 120px;
}

.vista__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -14px;
}

.vista__column {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 0 14px;
}

.vista__logo {
  position: absolute;
  top: -8%;
  left: 5%;
}

.vista__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 0 5% 19%;
}

.vista__subtitle {
  font-size: 14px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 0 19%;
  opacity: 0.7;
}

@media (max-width: 1025px) {
  .vista__column {
    padding: 0 25px;
  }
  .vista__logo {
    left: 8%;
    top: -5%;
  }
  .vista__title {
    margin: 0 0 5% 25%;
  }
  .vista__subtitle {
    margin: 0 0 0 25%;
  }
}

@media (max-width: 769px) {
  .vista {
    margin: 70px 20px 0 20px;
  }
  .vista__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .vista__logo {
    position: relative;
    left: 0;
    top: 0;
  }
  .vista__title {
    margin: 10px 0 10px 0;
    text-align: center;
  }
  .vista__subtitle {
    margin: 0 0 20px 0;
    text-align: center;
  }
}

.general {
  margin: 140px 20px;
}

.general__top {
  text-align: center;
}

.general__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.general__subtitle {
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 84px;
}

@media (max-width: 911px) {
  .general {
    margin: 100px 50px;
  }
}

@media (max-width: 769px) {
  .general {
    margin: 100px 40px;
  }
}

@media (max-width: 426px) {
  .general {
    margin: 60px 40px;
  }
}

@media (max-width: 376px) {
  .general__subtitle {
    margin-bottom: 50px;
  }
}

.courses__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 16px;
}

.courses__bg {
  width: 100%;
  height: 92%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-53.38%, #202246), to(rgba(40, 43, 87, 0.17)));
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  border-radius: 20px;
}

.courses__bg .courses__button {
  -webkit-transition: opacity 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0s;
}

.courses__bg:hover {
  height: 107%;
}

.courses__bg:hover .courses__button {
  -webkit-transition: opacity 0.5s ease-out 0.3s;
  transition: opacity 0.5s ease-out 0.3s;
  opacity: 1;
}

.courses__button {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 9%;
  background: #f5443b;
  border-radius: 6px;
  margin: 7% auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.courses__btn {
  margin: 60px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 198px;
  height: 51px;
  background-color: transparent;
  border: 1px solid #f5443b;
  border-radius: 6px;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.courses__btn:hover {
  background-color: #f5443b;
  width: 300px;
}

.courses__btn:hover .courses__btn-text {
  color: #fff;
}

.courses__btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f5443b;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

@media (max-width: 911px) {
  .courses__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0 -7px 65px -7px;
  }
  .courses__btn {
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 769px) {
  .courses__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 0 130px 0;
  }
}

@media (max-width: 426px) {
  .courses__column {
    margin: 0 0 80px 0;
  }
  .courses__title {
    font-size: 30px;
  }
  .courses__subtitle {
    font-size: 18px;
    margin-bottom: 54px;
  }
}

.columns__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.columns__img {
  width: 100%;
  height: 100%;
  margin: 12px 12px 0 12px;
  position: relative;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.columns__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.columns__img:hover {
  opacity: 0.7;
}

.columns__img:hover .columns__video {
  opacity: 1;
}

.columns__video {
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  position: absolute;
  top: 78%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  height: 17%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.columns__video a {
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}

.columns__suptitle {
  margin: 24px 12px 8px 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #3bf5bd;
}

.columns__title {
  margin: 0 12px 12px 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.columns__title a {
  color: rgba(255, 255, 255, 0.8);
}

.columns__subtitle {
  margin: 0 12px 20px 12px;
  font-size: 15px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.columns__hr {
  margin: 0 4%;
  width: 91%;
  height: 1px;
  background-color: #292b56;
  border: 1px solid #292b56;
}

.columns__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mentors__img {
  margin: 20px 15px 0 12px;
  width: 40px;
  height: 40px;
}

.mentors__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.mentors__text {
  margin: 19px 50px 0 0;
}

.mentors__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.mentors__subtitle {
  font-size: 12px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.webinar {
  margin: 0 30px;
}

.webinar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.webinar__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
  position: relative;
}

.webinar__column_s {
  margin-top: 5%;
}

.webinar__column_s:last-child {
  margin-left: 22%;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.webinar__column:hover img {
  opacity: 0.5;
}

.webinar__column:hover .webinar__title {
  opacity: 1;
}

.webinar__column:hover .webinar__start {
  opacity: 1;
}

.webinar__column:hover .webinar__line {
  opacity: 1;
}

.webinar__column:hover .webinar__bottom {
  opacity: 1;
}

.webinar__img {
  position: relative;
  width: 180%;
  height: 100%;
  z-index: 5;
  background-color: rgba(23, 24, 54, 0.87);
}

.webinar__img_s {
  background-color: transparent;
  z-index: 1;
  width: 122%;
  height: 83.4%;
}

.webinar__img img {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 23.4581px;
}

.webinar__title {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4% 20% 0 6%;
  font-weight: 500;
  font-size: 19.5484px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}

.webinar__start {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: 0 43%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15%;
  height: 22%;
  background: rgba(226, 226, 244, 0.3);
  border: 0.85302px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.webinar__start svg {
  width: 45%;
  height: 45%;
}

.webinar__line {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  opacity: 0;
  position: relative;
  top: -18%;
  width: 100%;
  height: 7.82px;
  background: rgba(226, 226, 244, 0.3);
  cursor: pointer;
}

.webinar__line-r {
  position: absolute;
  width: 42.4%;
  height: 7.82px;
  background: #f5453d;
  cursor: pointer;
}

.webinar__circle {
  cursor: pointer;
  position: absolute;
  left: 41%;
  top: -50%;
  width: 15.64px;
  height: 15.64px;
  background: #f5463d;
  border: 1.95484px solid #feb6b6;
  border-radius: 50%;
}

.webinar__bottom {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.webinar__time {
  position: absolute;
  margin: -12% 25% 2% 6%;
  font-weight: 500;
  font-size: 19.5484px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}

.webinar__volume {
  position: absolute;
  margin: -12% 5% 2% 80%;
  cursor: pointer;
}

.webinar__fullscreen {
  position: absolute;
  margin: -12% 5% 2% 88%;
  cursor: pointer;
}

.webinar__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.webinar__more a {
  color: #d1d1d7;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.webinar__more a:hover {
  color: #00ffea;
}

.webinar__more svg {
  margin-left: 11px;
}

@media (max-width: 871px) {
  .webinar__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .webinar__column_s {
    display: none;
  }
}

@media (max-width: 545px) {
  .webinar {
    margin: 0;
  }
  .webinar__title {
    font-size: 16px;
  }
  .webinar__time {
    font-size: 13px;
  }
  .webinar__volume svg {
    width: 15px;
    height: 13px;
  }
  .webinar__fullscreen svg {
    width: 15px;
    height: 13px;
  }
}

@media (max-width: 376px) {
  .webinar__title {
    font-size: 13px;
  }
  .webinar__time {
    margin: -14% 25% 2% 6%;
    font-size: 11px;
  }
  .webinar__volume {
    margin: -14% 5% 2% 80%;
  }
  .webinar__fullscreen {
    margin: -14% 5% 2% 88%;
  }
  .webinar__more {
    margin-top: 30px;
    font-size: 12px;
  }
}

.pricing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -21px;
}

.pricing__column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 21px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.pricing__popular {
  position: absolute;
  top: 0px;
  right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__popular svg {
  position: relative;
  border-radius: 20px;
}

.pricing__popular span {
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(32.64deg);
          transform: rotate(32.64deg);
  position: absolute;
  top: 15px;
  left: 42px;
}

.pricing__bg {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-53.38%, #202246), to(rgba(40, 43, 87, 0.31)));
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
  border-radius: 20px;
  width: 100%;
  height: 105%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #37bca1;
  margin: 40px 8% 32px 10%;
}

.pricing__plan {
  font-weight: bold;
  font-size: 28px;
  color: #f5453d;
  margin-right: 10%;
}

.pricing__plan span:first-child {
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 220%;
}

.pricing__plan span:nth-last-child(3) {
  position: relative;
  font-size: 14px;
  bottom: 10px;
}

.pricing__plan span:last-child {
  font-weight: 500;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.8);
}

.pricing__hr {
  width: 80%;
  margin: 0 auto;
  background-color: #272953;
  border: 1.5px solid #272953;
}

.pricing__vista {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.pricing__list {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.pricing__list li {
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  position: relative;
  line-height: 150%;
  margin: 8% 5% 0 17%;
}

.pricing__list li:hover {
  color: #00ffea;
  cursor: pointer;
}

.pricing__list li:last-child {
  margin-bottom: 0;
}

.pricing__list li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #9799ce;
  border-radius: 50%;
  top: 21%;
  left: -9%;
}

.pricing__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.pricing__button {
  border: 1px solid #f5443b;
  border-radius: 6px;
  width: 80.6%;
  height: 49px;
  background: transparent;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #f5443b;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}

.pricing__button:hover {
  color: #fff;
  background: #f5443b;
  width: 50%;
}

@media (max-width: 991px) {
  .pricing__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 50px;
  }
  .pricing__column:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 641px) {
  .pricing__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.apps {
  margin: 175px 20px 50px 20px;
}

.apps .container {
  width: 100%;
  height: 100%;
  background: linear-gradient(102.01deg, #23265c 1.96%, #352a56 101.68%);
  border-radius: 40px;
}

.apps__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apps__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.apps__column:first-child {
  max-width: 550px;
  margin: 90px 5% 90px 5%;
}

.apps__column:last-child {
  max-width: 600px;
  margin: 0 auto;
}

.apps__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 59.29px;
  height: 59.29px;
  background: rgba(255, 255, 255, 0.2);
  border: 1.23517px solid rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  margin: 15% 15% 15% 12%;
}

.apps__bg:nth-child(2) {
  margin: 30% 15% 15% 18%;
}

.apps__bg:nth-child(3) {
  margin: 40% 15% 15% 76%;
}

.apps__clients {
  width: 80%;
  height: 80%;
}

.apps__clients img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.apps__title {
  font-weight: 600;
  font-size: 47.2727px;
  line-height: 160%;
  color: #fff;
  opacity: 0.7;
  margin: 0 3% 5% 3%;
}

.apps__subtitle {
  font-size: 18px;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 3% 5% 3%;
}

.apps__store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apps__store a:first-child {
  width: 40%;
  height: 100%;
  margin-right: 28px;
}

.apps__store a:last-child {
  width: 33%;
  height: 100%;
}

.apps__store img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apps__item {
  margin: 8% 15% 0 30%;
  width: 50%;
  height: 90%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.192)), to(rgba(255, 255, 255, 0.088)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.192) 0%, rgba(255, 255, 255, 0.088) 100%);
  border-radius: 20.5862px;
}

.apps__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apps__logo {
  margin: 8% 5% 15% 8%;
}

.apps__user {
  margin: 8% 5% 15% 0;
  font-weight: 600;
  font-size: 11.5283px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
}

.apps__user span {
  font-weight: 400;
  font-size: 9.88138px;
}

.apps__crown {
  margin: 8% 5% 15% 20%;
}

.apps__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 85%;
  height: 30%;
  background: rgba(18, 11, 35, 0.09);
  border: 1.56455px solid rgba(255, 255, 255, 0.08);
  border-radius: 16.469px;
}

.apps__lamp {
  margin: 5% 8%;
}

.apps__ad {
  margin: 9% 10% 7% 0;
  font-weight: 700;
  font-size: 11.5283px;
  line-height: 140%;
  color: #fff;
  opacity: 0.8;
}

.apps__ad span {
  font-weight: normal;
  font-size: 8.23448px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.6);
}

.apps__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15% 5% 0 0;
}

.apps__vista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: 2.47034px solid rgba(255, 255, 255, 0.12);
  border-radius: 16.469px;
  position: relative;
}

.apps__vista:first-child {
  left: -23%;
}

.apps__vista:last-child {
  left: -10%;
}

.apps__vista svg {
  width: 10%;
  height: 10%;
}

.apps__icon {
  position: absolute;
  bottom: 30%;
  left: 9%;
}

.apps__icon svg {
  width: 100%;
  height: 100%;
}

.apps__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40% 10% 5% 10%;
  font-weight: 600;
  font-size: 11.5283px;
  line-height: 160%;
  color: #fff;
  opacity: 0.7;
}

.apps__text svg {
  margin: 0 0 0 10px;
}

@media (max-width: 991px) {
  .apps .container {
    width: 90%;
  }
  .apps__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .apps__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .apps__column:first-child {
    margin: 10% 10% 5% 10%;
  }
  .apps__column:last-child {
    margin: 0% 0% 10% 0%;
  }
}

@media (max-width: 631px) {
  .apps__column:last-child {
    display: none;
  }
  .apps__title {
    font-size: 34px;
  }
  .apps__subtitle {
    font-size: 16px;
  }
  .apps__store a:first-child {
    width: 90%;
    height: 100%;
  }
  .apps__store a:last-child {
    width: 75%;
    height: 100%;
  }
}

.footer {
  margin-top: 148px;
}

.footer .container {
  max-width: 75%;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -8%;
}

.footer__column {
  padding: 0 4%;
}

.footer__text {
  font-size: 26.1239px;
  line-height: 150%;
  font-family: "Itim";
  margin-bottom: 8px;
}

.footer__text a {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  color: #7477bb;
}

.footer__text a:hover {
  text-shadow: 1px 2px 15px #2c3083;
}

.footer__text svg {
  display: none;
}

.footer__subtext {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
}

.footer__social {
  margin: 0 0 118px 0;
}

.footer__social svg {
  margin-right: 10%;
}

.footer__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.footer__title a {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__title a:hover {
  color: #7477bb;
}

.footer__title svg {
  display: none;
}

.footer__subtitle {
  font-size: 20px;
  line-height: 24px;
  opacity: 0.6;
}

.footer__subtitle li {
  margin-bottom: 20px;
}

.footer__subtitle a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: rgba(255, 255, 255, 0.7);
}

.footer__subtitle a:hover {
  color: #00ffea;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 19px;
  color: #8f91d0;
  margin-bottom: 30px;
}

@media (max-width: 950px) {
  .footer {
    margin-top: 100px;
  }
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .footer__text {
    position: relative;
  }
  .footer__text a {
    display: block;
    margin-left: 2%;
  }
  .footer__text svg {
    position: absolute;
    display: block;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 95%;
    top: 30%;
  }
  .footer__subtext {
    display: none;
  }
  .footer__social {
    display: none;
  }
  .footer__title {
    position: relative;
  }
  .footer__title a {
    display: block;
    margin-left: 2%;
  }
  .footer__title svg {
    position: absolute;
    display: block;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 95%;
    top: 20%;
  }
  .footer__subtitle {
    display: none;
  }
  .footer__hr {
    width: 100%;
    background-color: #292b56;
    border: 0.8px solid #292b56;
    margin: 3% 0;
  }
}

@media (max-width: 481px) {
  .footer__bottom {
    font-size: 10px;
  }
}
